---
title: Home
layout: frontpage
---


{% for context in site.data.home_image_content_grid %}
  {% include sections/image-content-grid.html context=context %}
{% endfor %}

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-5 text-center"> <span class="font-2">Our</span> Programs</h1>
      </div>
    </div>
    <div class="row mt-4"> 
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
          <img src="assets/images/our-programs/graphene.png" class="card-img-top">
          <div class="card-body mt-2">
            <div class="card-text text-center">
              <h6>Cryptography</h6>
              <p>Some quick example text to build on.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
          <img src="assets/images/our-programs/robot.png" class="card-img-top">
          <div class="card-body mt-2">
            <div class="card-text text-center">
              <h6>Robotics</h6>
              <p>Some quick example text to build on.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
          <img src="assets/images/our-programs/smart-house.png" class="card-img-top">
          <div class="card-body mt-2">
            <div class="card-text text-center">
              <h6>IoT</h6>
              <p>Some quick example text to build on.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
          <img src="assets/images/our-programs/renewable-energy.png" class="card-img-top">
          <div class="card-body mt-2">
            <div class="card-text text-center">
              <h6>Many more!</h6>
              <p>Some quick example text to build on.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-12 text-center">
        <a class="btn btn-primary">Book Now</a>
      </div>
    </div>
  </div>

  <div class="d-none">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>  https://www.flaticon.com/packs/future-technology-15</div> 
</section>

{% include sections/carousel.html title="Testimonials" slides=site.data.home_carousel %}

<section class="py-5 image-content-section">
  <div class="container ">
    <div class="row">
      <div class="col-12">
        <h1 class="display-5 text-center">Contact <span class="font-2">Us</span></h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6 col-sm-12 offset-md-3">
        <p class="text-center">
          <strong>
            Donec lobortis elementum semper. Suspendisse bibendum libero sed lectus blandit bibendum. Donec consectetur nunc eget nisi cursus sagittis.
          </strong>
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-12 text-center">
        <a class="btn btn-primary">Book Now</a>
      </div>
    </div>
  </div>
</section>