---
title: Home
layout: frontpage

banner_title: Partials - Includes<br/>with layout
banner_subtitle: Another vote for partials! I'm needing it a lot on my site.
banner_image: /assets/images/index/jumbotron.jpg 
---


{% for context in site.data.home_image_content_grid %}
  {% include sections/image-content-grid.html context=context %}
{% endfor %}

{% capture card_grid_header %}
  <span class="font-2">Our</span> Programs
{% endcapture %}
{% capture card_grid_footer %}
  <div class="row mt-4">
    <div class="col-sm-12 text-center">
      <a class="btn btn-primary">Book Now</a>
    </div>
  </div>
{% endcapture %}

{% include sections/card-grid.html card_grid_header=card_grid_header card_grid_footer=card_grid_footer cards=site.data.home_card_grid %}
{% include sections/carousel.html title="Testimonials" slides=site.data.home_carousel %}

<section class="py-5 image-content-section">
  <div class="container ">
    <div class="row">
      <div class="col-12">
        <h1 class="display-5 text-center">Contact <span class="font-2">Us</span></h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6 col-sm-12 offset-md-3">
        <p class="text-center">
          <strong>
            Donec lobortis elementum semper. Suspendisse bibendum libero sed lectus blandit bibendum. Donec consectetur nunc eget nisi cursus sagittis.
          </strong>
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-12 text-center">
        <a class="btn btn-primary">Book Now</a>
      </div>
    </div>
  </div>
</section>