<section class="py-5 image-content-section">
  <div class="container ">
    <div class="row">
      <div class="col-12">
        <h1 class="display-5 text-center">Contact <span class="font-2">Us</span></h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-6 col-md-8 col-sm-12 offset-md-2 offset-lg-3">
        <p class="text-center">
          <strong>
            Connect with us and start an exciting journey towards the immense field of Information Technology.
          </strong>
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-12 text-center">
        <a class="btn btn-primary" href="{{ /contact | relative_url }}">Contact Us</a>
      </div>
    </div>
  </div>
</section>