<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-5 text-center">{{ include.card_grid_header }}</h1>
      </div>
    </div>
    <div class="row mt-4"> 
      {% for card in include.cards %}
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card">
            <img src="{{ card.image }}" class="card-img-top">
            <div class="card-body mt-2">
              <div class="card-text text-center">
                <h6>{{ card.title }}</h6>
                <p>{{ card.subtitle }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {{ include.card_grid_footer }}
  </div>

  <div class="d-none">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>  https://www.flaticon.com/packs/future-technology-15</div> 
</section>
