<section class="py-5 image-content-grid-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-5 text-center">{{ include.context.title }}</h1>
      </div>
    </div>
    <div class="row mt-4 image-content-grid">
      {% if include.context.orientation == "left" %}
        <div class="col-md-6 image-section image-section-left"> 
          <div class="image-wrapper">
            <img class="img-fluid" src="{{ include.context.image }}"/>
          </div>
        </div>
      {% endif %}
      <div class="col-md-6 content-section"> 
        <div>
          <p>
            {{ include.context.content }}
          </p>
          {% if include.context.button_url %}
            <a href="{{ include.context.button_url }}" class="btn btn-primary">
              {% if include.context.button_text %} {{ include.context.button_text }} {% else %} Learn More {% endif %}
            </a>
          {% endif %}
        </div>
      </div>
      {% if include.context.orientation == "right" %}
        <div class="col-md-6 image-section image-section-right"> 
          <div class="image-wrapper">
            <img class="img-fluid" src="{{ include.context.image }}"/>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>
