<footer class="py-4"> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          <div class="logo-container">
            SEMICOLON<span class="semicolon">;</span class="semicolon">
          </div>
          <div class="logo-sub">
            <p>
              Lorem ipsum doler set
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 with-border">
        <p>
          2369 29A Avenue NW<br/> Edmonton AB, T6T2B1
        </p>
      </div>
      <div class="col-md-4 with-border">
        <p>
          Tel: 123-456-7890<br/>
          Opening Hours: 9am - 7pm 
        </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12 text-center copyright">
        <p class="copyright mb-0">
          Let your customers review you and tell
        </p>
      </div>
    </div>
  </div>
</footer>