<footer class="py-4"> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          <div class="logo-container">
            SEMICOLON<span class="semicolon">;</span class="semicolon">
          </div>
          <div class="logo-sub">
            <p>
              Lorem ipsum doler set
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 with-border">
        <p>
          {{ site.address }}
        </p>
      </div>
      <div class="col-md-4 with-border">
        <p>
          Tel: {{ site.telephone_number }}<br/>
          Opening Hours: {{ site.opening_hours }} 
        </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12 text-center copyright">
        <p class="copyright mb-0">
          Let your customers review you and tell
        </p>
      </div>
    </div>
  </div>
</footer>