.jumbotron {

  .jumbotron-content {
    z-index: 1;
    position: relative;
    color: white;
  }

  &::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $primary;
    opacity: .7;
  }

  &.jumbotron-frontpage {
    background-image: url('assets/images/index/jumbotron.jpg'); 

    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md) {
      background-attachment: scroll;
    }

    @include media-breakpoint-up(md) {
      height: 100vh;
      min-height: 600px; 
    }

    @include media-breakpoint-between(sm, md) {
      height: 60vh;
      min-height: 600px; 
    }

    @include media-breakpoint-down(xs) {
      height: 50vh;
    }
  }

  &.jumbotron-innerpage {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    display: flex;
    justify-content: start;
    align-items: end;


    @include media-breakpoint-up(md) {
      height: 50vh;
      min-height: 500px; 
    }

    @include media-breakpoint-between(sm, md) {
      height: 40vh;
      min-height: 400px; 
    }

    @include media-breakpoint-down(xs) {
      height: 40vh;
      min-height: 300px; 
    }
  }
}