// FONTS

$font-family-sans-serif-2: 'Montserrat', sans-serif;
$font-family-sans-serif: 'Open Sans', sans-serif;

$headings-font-family: $font-family-sans-serif-2;

// COLORS

$primary:       #ff7979;
// $secondary:     #000000;

$navbar-light-color: #000;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;



// MARGIN AND PADDING

$nav-link-padding-y: 1.5rem;
$nav-link-padding-x: 2.5rem;

