<!DOCTYPE html>
<html>
    <head>
      {% include header.html %}
    </head>
    <body>
        {% include navbar.html %}
        <section class="py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-8 offset-md-2 text-center">
                <h1 class="display-5 mb-0">{{ page.title }}</h1>
                <small>{{ page.date | date: "%-d %B %Y" }}</small>
              </div>
            </div>
            <div class="row my-4">
              <div class="col-12">
                <img  src="{{ page.image | relative_url }}" class="img-fluid" />
              </div>
            </div>
            {{ content }}
          </div>
        </section>
        {% include footer.html %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>